<?xml version="1.0"?>

<configuration>

  <system.web>
    <customErrors mode="Off"/>
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="1"  aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="LoginService.Login">
        <host>
          <baseAddresses>
            <add baseAddress=" http://dairy.somee.com"/>
          </baseAddresses>
        </host>
        <endpoint address="Login.svc"
        binding="basicHttpBinding"
        contract="LoginService.ILogin"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>

